<!---繼承base.html-->
{% extends "bs/base.html" %} <!---從根目錄開始-->

<!---網頁標題-->
{% block title %}bootstrap test1{% endblock %}

<!---網頁連結css-->
{% block csslink %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bs/index.css')}}">
{% endblock %}

<!---網頁直接新增css-->
{% block head %}
{{ super() }} <!---原本的保留,再加入新的-->
<style>
    .banner {
        background-color: beige;
    }

    .banner .left {
        background-color: rgb(113, 157, 192)
    }

    .banner .right {
        background-color: rgb(9, 74, 104)
    }

    .four {
        background-color: rgb(151, 82, 82);
    }

    .five {
        background-color: rgb(99, 53, 53);
    }

    .six {
        background-color: rgb(199, 108, 108);
    }

    /*手機橫的*/
    @media (min-width: 576px) {}

    /*平板*/
    @media (min-width: 768px) {}

    /*一般電腦螢幕*/
    @media (min-width: 992px) {
        .banner {
            background-color: beige;
        }

        .banner .left {
            background-color: rgb(199, 214, 226)
        }

        .banner .right {
            background-color: rgb(45, 169, 226)
        }
    }

    /*大螢幕*/ /*沒改會套用min-width: 992px的css*/
    @media (min-width: 1200px) {}

    /*電競螢幕*/ /*沒改會套用min-width: 992px的css*/
    @media (min-width: 1400px) {}
</style>
{% endblock %}

<!---網頁內容-->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 left">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque repudiandae distinctio
                        architecto quasi aspernatur in, nam a commodi maiores harum minima doloribus aliquid tenetur
                        eius iure saepe animi omnis.
                    </div>
                    <div class="col-md-4 right">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sint voluptatibus, officia
                        placeat corrupti amet quam accusamus quis magnam, rerum id soluta? Id, placeat beatae minima
                        sunt sit aspernatur maxime.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col four">
            Laborum magna non sunt consequat. Ex fugiat laborum deserunt exercitation do ullamco tempor aliqua.
            Incididunt
            quis excepteur Lorem et duis elit aute.

            Sunt do aute voluptate sit esse tempor nisi. Cupidatat irure tempor nostrud qui reprehenderit amet
            incididunt ex
            occaecat esse laboris. In dolore veniam non tempor nisi in. Elit exercitation eu aute ex sunt occaecat in
            cupidatat anim. Mollit commodo do elit occaecat.
        </div>
        <div class="col-5 five">
            Veniam exercitation elit sunt irure nulla ad dolor tempor nisi ut in magna aute. In qui proident ex duis
            ullamco
            aliqua minim ut qui culpa consequat ullamco. Fugiat sint esse deserunt aliquip cillum ad veniam eiusmod
            commodo
            minim. Aute fugiat velit id adipisicing dolor duis quis qui dolor proident ex enim excepteur eu.

            Nisi culpa quis consectetur nostrud ipsum commodo veniam anim. Eiusmod elit commodo aliquip excepteur sunt
            velit
            exercitation est ad. Non nulla et Lorem sint magna. Qui amet fugiat cupidatat ad. Ea nostrud sunt qui
            officia
            nisi laboris nulla fugiat fugiat. Labore eu mollit eiusmod cillum voluptate. Tempor ut tempor veniam labore
            et.
        </div>
        <div class="col six">
            Ea do nostrud ut duis amet mollit est eu ad occaecat occaecat ea consequat magna. Veniam irure sunt do
            veniam
            duis consequat nostrud. Id ex fugiat ex duis commodo aute esse cupidatat minim ipsum ea commodo veniam.
            Irure ex
            occaecat consectetur laborum nisi est voluptate eu proident ipsum dolor pariatur ullamco exercitation.

            Sit sunt aliquip adipisicing deserunt ea qui est mollit proident adipisicing. Sint nulla do in laboris id
            voluptate nisi reprehenderit est. Tempor quis Lorem ullamco consequat reprehenderit. Anim voluptate ex sunt
            aliquip esse.
        </div>
    </div>
</div>
{% endblock %}